body {
    background-image: url(../imgs/wal.png);
}
.coluna{
    background-color: rgba(0, 0, 0, 0.288);
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.linha{
    margin-right: 30px;
}

form [value="Selecione"]{
    background-color: #d437e2;
    color: #ffff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
    margin-left: 365px;
    border-radius: 10px;
}
form [value="Voltar"]{
    background-color: #d437e2;
    color: #ffff;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 10px;
}

th{
    color: #ffff;
    text-transform: uppercase;
    border-radius: 8px;
    font-family: Arial, Helvetica, sans-serif;
}
