body {
    background-image: url(../imgs/wal.png);
}

/* imagens das divs */
.capinhas{
    background-image: url(imgsss/cap_cors.jpg);
    width: 250px;
    height: 250px;
    border-radius: 8px;
    margin:10px;
}
.peliculas{
    background-image: url(imgsss/pelicc.jpg);
    width: 250px;
    height: 250px;
    border-radius: 8px;
    margin:10px;
}
.finos{
    background-image: url(imgsss/finoo.jpg);
    width: 250px;
    height: 250px;
    border-radius: 8px;
    margin:10px;
}
.carregadores{
    background-image: url(imgsss/carregadoress.jpg);
    width: 250px;
    height: 250px;
    border-radius: 8px;
    margin:10px;
}
.caixas{
    background-image: url(imgsss/liv.jpg);
    width: 250px;
    height: 250px;
    border-radius: 8px;
    margin:10px;
}
    
table{
    color: white;
}



.botao_entrar{
    margin-top: 75%;
    margin-left: 31%;
    margin-right: 31%;
    width: 38%;
    transition: all 0.5s;
    background-color: #d437e2;
    font-size: 18px;
    color: #ffff;
    cursor: pointer;
    border-radius: 8px;
    padding: 5px;
}



