body {
   background-image: url(../imgs/fundo.avif);
}
form{
    background-color: rgb(128, 187, 255);
    color: rgb(255, 94, 0);
    border-style: solid;
    border-bottom-width: 8px;
    border-top-width: 8px;
    border-right-width: 8px;
    border-left-width: 8px;
    width: 500px;
    height: 450px;
    margin-left: 418px;
}
form [type="submit"]{
    margin-top: 13px;
    display: block;
    border: #0772EB;
    background-color: rgb(255, 94, 0);;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffff;
    
    border-radius: 8px;
    width: 200px;
    margin-left: 15px;
    padding: 15px;
    
}
form [value="Finalizar"]{
    display: block;
    background-color: #0772EB;
    font-size: 25px;
    padding: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ffff;
    border-radius: 18px;
    margin-left: 45px;
    
}
h1{
    color: rgb(17, 84, 185);;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 94, 0);;
    text-transform: uppercase;
    font-weight: bold;
}
h2{
    color: rgb(255, 94, 0);
    background-color: rgb(17, 84, 185);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    height: 252px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}
th{
    color: #ffff;
    border-style: solid;
    border-bottom-width: 2px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-left-width: 2px;
}
